<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/resets.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/onload_css_values.js') }}"></script>
    <script>window.onload = loadCssValues({{ css_vars|tojson }})</script>
    <title>Great Number Game</title>
</head>

<body>

    <div class="container-fluid page-container">

        <div class="panel mx-auto rounded mt-5 p-2">

            <h3 class="welcome-msg text-center mt-2 mx-auto rounded">Welcome to the Great Number Game!</h1>
            <p class="text-center">I am thinking of a number between 1 and 100.<br>Take a guess!</p>

            <hr class="mx-4">

            <div class="guess-result-container" >
                <div class="guess-result d-flex justify-content-center align-items-center mx-auto p-1 rounded">
                    <p class="game-result-message text-center fs-3 text-white fw-bolder">{{ guess_msg }}<p>
                </div>

                <hr class="mx-4">                
            </div>

            <div class="end-game-container " >
                <div class="end-game d-flex flex-column justify-content-evenly align-items-center mx-auto mb-3 p-1 rounded">
                    <p class="end-game-message text-center fs-5 text-white fw-bolder">
                        {% if session['gamestate']['game_won'] %}
                            {{ session['gamestate']['rand_number'] }} was the number! You guessed it in {{ session['gamestate']['num_guesses'] }} attempt(s)!
                        {% else %}
                            You Lost! Better luck next time.
                        {% endif %}
                    <p>

                    <form action="/play" method="post">
                        <button type="submit" class="btn btn-primary" name="action" value="submit">Play again!</button> 
                    </form>
                </div>
            </div>

            {% if session['gamestate']['game_won'] %}

            <hr class="mx-4">
            <p class="text-center fw-bold mb-2">Submit your Score!</p>

            <form action="/submitscore" method="post">
                <div class="row mb-3 mx-5">
                    <div class="col">
                        <input type="text" class="form-control" id="name" name="name" placeholder="Name">
                    </div>
                    <div class="col-auto text-center">
                        <button type="submit" class="btn btn-primary" name="action" value="submit">Submit</button> 
                    </div>
                </div>
            </form>

            {% endif %}

            <form action="/submitguess" method="post" class="number-guessing-form mx-auto mb-2 rounded" 
                {% if session['gamestate']['game_ended'] %} style="display: none;" {% endif %} >
                <div class="row">
                    <label for="num-guess" class="form-label text-center">Your guess...</label>
                    <div class="col mb-2">
                        <input type="text" class="form-control text-center" id="num-guess" name="num-guess" value="{{ session['num-guess'] }}" >
                    </div>
                    <div class="col-auto text-center">
                        <button type="submit" class="btn btn-primary" name="action" value="submit">Submit</button> 
                    </div>
                </div>
            </form>

        </div>

        {% if session['gamestate']['num_guesses'] == 0 %}
        <div class="panel mx-auto rounded my-5 p-2">
            <h1 class="text-center">High Scores</h1>

            <hr class="mx-4"> 

            <table class="table table-striped table-hover">
                <thead class="fw-bold">
                    <tr>
                        <th>Id</th>
                        <th>Player Name</th>
                        <th>Score</th>
                    </tr>                    
                </thead>
                <tbody>
                    {% for x in range(0, session['highscores']|length) %}
                        <tr>
                            <td>{{ x }}</td>
                            <td>{{ session['highscores'][x]['name'] }}</td>
                            <td>{{ session['highscores'][x]["score"] }}</td>
                        </tr>
                    {% endfor %} 
                </tbody>
            </table>

        </div>
        {% endif %}

    </div>

</body>
</html>