:root {
    --color-1: green;
    --guess_box: none;
    --end_game_box: none;
    --my-width: 0px;
}

body {
    background-color: #cccccc;
}

.panel {
    background-color: #e9e9e9;
    box-shadow: 0px 10px 13px -7px #000000;
    max-width: 600px;
}

tr td:first-child {
    font-weight: bold;
}

.row {
    /* margin-bottom: 15px; */
}