{% extends 'layouts/single_column_layout_members.html' %}

{% block title %}Email Validation - Login{% endblock %}

{% block content %}

    <div class="panel rounded p-3 mt-3 mx-auto flex-grow-1" style="height: min-content; min-width: 450px;">
        <h4 class="text-center mt-1 mx-auto rounded">Dashboard</h4>
        
        <hr class="">

        <form action="/submit" method="post" novalidate="novalidate">

            <div class="d-flex flex-column justify-content-center">
                <div>
                    <!-- DATE -->
                    <label class="form-label" for="start">Start date:</label>
                    <input class="form-control mb-2" type="date" id="start" name="trip-start" value="2018-07-22" min="2018-01-01" max="2018-12-31">

                    <!-- TIME -->
                    <label class="form-label" for="appt">Choose a time for your meeting:</label>
                    <input class="form-control mb-2" type="time" id="appt" name="appt" min="09:00" max="18:00" required>

                    <!-- DATE AND TIME -->
                    <label class="form-label" for="meeting-time">Choose a time for your appointment:</label>
                    <input class="form-control mb-2" type="datetime-local" id="meeting-time" name="meeting-time" value="2018-06-12T19:30" min="2018-06-07T00:00" max="2018-06-14T00:00">
                </div>



                <!-- CHECK BOX -->
                <div class="me-5">
                    <p class="m-0 fw-bold">Usage</p>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="Hobby" id="hobblycheck" name="usage" >
                        <label class="form-check-label" for="hobblycheck">Personal / Hobby</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="Job" id="jobexpcheck" name="usage">
                        <label class="form-check-label" for="jobexpcheck">On the job</label>
                    </div>
                </div>
                <!-- RADIO -->
                <div>
                    <p class="m-0 fw-bold">Level of experience</p>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" value="Little" id="littleexp" name="level_exp" checked>
                        <label class="form-check-label" for="littleexp">Little experience</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" value="Experienced" id="lotsexp" name="level_exp">
                        <label class="form-check-label" for="lotsexp">More experienced</label>
                    </div>                 
                </div> 
            </div>

            <button type="submit" class="btn-sm btn-primary" name="action" value="submit">Submit</button> 
        </form>

        <hr class="">

    </div>

{% endblock content %}

