{% extends 'layouts/error_page_layout.html' %}

{% block title %}Email Validation - Login{% endblock %}

{% block content %}

    <div class="panel rounded p-3 mt-3 mx-auto flex-grow-1" style="height: min-content; min-width: 450px;">
        <h4 class="text-center mt-1 mx-auto rounded text-danger">Warning</h4>
        
        <hr class="">
            <p class="text-center">Hmm... Message {{warning_data['message_id']}} does not belong to you. Are you trying to hack my site???</p>
            <p class="text-center">Your ip address {{warning_data['ip_addr']}} has been recorded.</p>
            <p class="text-center"> Next time you attempt on activity like this we'll log you off automatically and report
                                    your ip address to our site administrator.
            </p>
        <hr class="">

    </div>

{% endblock content %}